.dashboard{
    min-height: 100vh;
    background-color: #f7f8fa;
}

.custom-progress{
    background-color: rgb(214, 212, 212);
    height: 9px;
    display: block;
    border-radius: 10px;

}

.inner-progress{
    position: relative;
    background-color: #56b6ff;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: 0.3s;
}

.inner-progress::after{
    content: attr(prcent);
    position: absolute;
    top: -25px;
    right: 0;
    width: 38px;
    background-color: rgb(116, 116, 166);
    color: white;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 3px;
}