.btn{
    background-color: white;
    outline: none;
    border: 0;
    padding: 15px 30px; 
    border-radius: 6px;
}

.btn-primary{
    background-color: rgb(54, 111, 54);
    color: white;
    font-size: 18px;
    cursor: pointer;
}