/* global rules */

*{
  box-sizing: border-box;

}
body{
  font-family: "Lato", serif !important;
}
.container{
  margin: 0 auto;
}
.h-100{
  height: 97vh;
}
.row{
  display: flex;
  justify-items: center;
  align-items: center;
}
.row .col-12{
  width: 100%;
}
.row .col-6{
  width: 50%;
}

/* end global rules  */